body {
  display: flex;
  justify-content: center; 
  align-items: center;   
  min-height: 100vh;     
  margin: 0;       
}

#canvas-box{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 60px 10px  rgba(116, 0, 225, 0.627);
}

.heading-text{
    display: flex;
    align-items: center;
    height: 60px;
    text-align: left;
    border-bottom: solid 3px black;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

#input-div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 3px black;
}

#user-input{
    height: 40px;
    width: 270px;
}

#input-button{
    background-color: rgb(116, 0, 225);
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 15px;
}

#input-button:hover {
    background-color: rgb(151, 40, 255);
    cursor: pointer;
}

#task-list{
    height: 300px;
    border-bottom: solid 3px black;
    overflow-y: auto;
    scrollbar-gutter: stable;
    display: flex;
    align-content: flex-start;
    vertical-align: top;
}

#task-list::-webkit-scrollbar {
  width: 10px;
  
}

#task-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#task-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

  /* Creates spacing around the thumb */
  border: 2px solid transparent;
  background-clip: content-box;
}

#task-list::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-clip: content-box;
}

#task-list-tree{
    padding: 0px;
    margin-block-start: 0px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    width: 100%;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 15px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

li:hover{
    background-color: #d4d4d4;
}


#new-checkbox{
    accent-color: rgb(52, 52, 255); 
    transform: scale(1.2); 
    width:26px;
    height:26px;
    margin-right: 20px;
}

#new-checkbox:hover{
    cursor: pointer;
}

#delete-button{
    /* background-color: rgb(255, 48, 48); */
    color: rgb(255, 48, 48);
    font-weight: bold;
    border: solid 1px rgb(255, 48, 48);
    /* border-radius: 20px; */
    padding: 10px;
}

#delete-button:hover{
    background-color: rgb(255, 48, 48);
    color: white;
    cursor: pointer;
}

#task-name{
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-weight: bold;
    margin-right: 15px;
}

#bottom-div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-info{
    margin-left: 40px;
    font-weight: bold;
}

#task-info > p{
    padding: 0;
    margin: 8px;
}

#reset-btn-div{
    margin-right: 30px;
}

#reset-button{
    background-color: rgb(116, 0, 225);
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 15px;
    padding: 20px;
}

#reset-button:hover {
    background-color: rgb(151, 40, 255);
    cursor: pointer;
}