#canvas-box{
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    color: red;
}

.heading-text{
    margin-top: 0px;
    padding-top: 0px;
}
#border-line{
    color: white;
    background-color: white;
}